<div>
  <h1>회원가입</h1>

  <form class="form-container" [formGroup]="form" (ngSubmit)="signUp()">
    <input hlmInput type="text" placeholder="아이디" formControlName="email" />
    @if (
      form.controls.email.errors?.['required'] && form.controls.email.touched
    ) {
      <p>이메일을 입력해주세요</p>
    }
    @if (form.controls.email.errors?.['email'] && form.controls.email.touched) {
      <p>유효한 이메일을 입력해주세요</p>
    }

    <input
      hlmInput
      type="password"
      placeholder="비밀번호"
      formControlName="password"
    />
    @if (
      form.controls.password.errors?.['required'] &&
      form.controls.password.touched
    ) {
      <p>비밀번호를 입력해주세요</p>
    }
    @if (
      form.controls.password.errors?.['minlength'] &&
      form.controls.password.touched
    ) {
      <p>비밀번호는 최소 8자 이상이어야 합니다</p>
    }

    <button hlmBtn>회원가입</button>
  </form>
</div>

<div>
  이미 회원이신가요?
  <button hlmBtn (click)="navigateToSignIn()">로그인</button> 하러가기
</div>
